html {
	margin:0;
	padding:0;
}

body {
	margin: 0;
	padding:0;
}

#backBtn {
	padding-top: 0px;
	margin-top: 0px;
	height: 40px;
	display: inline-block;
	position: absolute;
}

#backBtn:hover {
	background-color: #2e3b84;
	cursor: pointer;
}

#navbar > div {
	padding-left: 45px;
}

table
{
	border-collapse: collapse;
	margin-bottom: 3em;
	line-height: 1.5;
}

tr:hover, td.start:hover, td.end:hover
{
	background: #FF9;
}

th, td
{
	padding: .3em .5em;
}

th
{
	text-align: left;
	background: url(tabletree-arrow.gif) no-repeat 2px 50%;
	padding-left: 15px;
}

th.name { width: 12em; }
th.location { width: 12em; }
th.color { width: 10em; }

thead th
{
	background: #c6ceda;
	border-color: #fff #fff #888 #fff;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	padding-left: .5em;
}

#hideView {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0,0.7);
	z-index: 10;
	overflow-y: auto;
	display: none;
}

#addModuleView {
	border: 1px solid grey;
	border-radius: 10px;

	background-color: white;
	width: 450px;
	
	padding: 5px;
	padding-top: 30px;
	
	position: relative;
	margin:auto;
	margin-top: 70px;
	margin-bottom: 30px;
	display: none;
}
#addModuleView > #close {
	height: 20px;
	width: 20px;
	cursor: pointer;
	
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 15px;
	margin-right: 15px;
}
#addModuleView > h4 {
	padding-top: 0px;
	margin-top: 0px;
	width: 100%;
	text-align: center;
}
#addModuleView > input[type="button"] {
	width: 30%;	
 	margin:8px 0px 8px 0px;
	margin-left: 13%; 
 	border-radius:5px;	
 	box-shadow: none;
 	background-color:#ecf0f1;
   	padding:5px;
   	border: solid 1px #ccc;
   	font-size:15px;
}