#backBtn {
	padding-top: 0px;
	margin-top: 0px;
	height: 40px;
	display: inline-block;
	position: absolute;
}

#backBtn:hover {
	background-color: #2e3b84;
	cursor: pointer;
}

#navbar > div {
	padding-left: 45px;
}

h1 {
	text-align: center;
	margin-top: 15px;
}

input, select {
	width: 200px;
}

#myInfos, #changePassword {
	border: 1px solid grey;
	border-radius: 10px;
	width: 70%;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}

#changePassword {
	margin-bottom: 20px;
}

#changePassword > input[type=submit] {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;
}