body {
	margin: 0px;
	padding: 0px;
}

#navbar {
	background-color: #3F51B5;
	padding: 9px;
	padding-left: 10px;
	color: white;
	font-size: 19px;
}

.input-error {
	border: 1px solid red;
}

#text-error {
	color: red;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	text-align: right;
}

#error {
	background-color: rgba(255, 0, 0, 0.4);
	padding: 10px;
	width: 310px;
	border-radius: 10px;
	display: none;
	margin: auto;
	margin-top: 20px;
}