body {
	margin: 0px;
	padding: 0px;
}

#navbar {
	background-color: #3F51B5;
}
#navbar > div {
	padding: 9px;
	padding-left: 10px;
	color: white;
	font-size: 19px;
	display: inline-block;
}

#decoBtn {
	padding-top: 0px;
	margin-top: 0px;
	height: 40px;
	float: right;
}
#decoBtn:hover {
	background-color: #2e3b84;
	cursor: pointer;
}

input[type="text"],input[type="password"],  input[type="submit"], input[type="datetime"], select {
	width: calc(100% - 10px);
 	border-radius:5px;	
 	box-shadow: none;
 	background-color:#ecf0f1;
 	margin:8px 0px 8px 0px;
   	padding:5px;
   	border: solid 1px #ccc;
   	font-size:15px;
}

select {
	width: 100% ;
}

input[type="text"].input-error {
	width: calc(100% - 10px);
 	border-radius:5px;	
 	box-shadow: none;
 	background-color:#ecf0f1;
 	margin:8px 0px 8px 0px;
   	padding:5px;
   	border: solid 1px red;
   	font-size:15px;
}

input[type="submit"] {
   position:relative;
   width:calc(50% - 13px);
   background-color:#3F51B5;
   border:none;
   color:#FFF;
    
}

input[type="submit"]:active {
    position:relative;
    top:4px;
}  

.input-error {
	border: 1px solid red;
}

#text-error {
	color: red;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	text-align: right;
}

#error {
	background-color: rgba(255, 0, 0, 0.4);
	padding: 10px;
	width: 310px;
	border-radius: 10px;
	display: none;
	margin: auto;
	margin-top: 20px;
}

#success {
	background-color: rgba(0, 255, 0, 0.4);
	padding: 10px;
	width: 310px;
	border-radius: 10px;
	display: none;
	margin: auto;
	margin-top: 20px;
}